html,
body {
  overflow: hidden;
}

.SideBySide {
  box-sizing: border-box;
}

#diff-element-content {
  /* background-color: rgba(240, 240, 240, 0.5);  */
  border: 1px solid #eee; 
  /* border: 1px solid #bbb; */
  padding: 0.5rem;
  display: flex;
}

#diff-element-left,
#diff-element-right{
  /* background-color: rgba(10, 10, 10, 0.5); */
  /* border: 1px solid #fff; */
  padding: 0.5rem;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  /* color:#fff; */
}

#clickable:hover{
  background-color: rgba(60, 60, 60, 0.5);
  border: 1px solid #aaa;
  cursor:pointer;
}

.App {
  font-family: sans-serif;
  
}

article {
  max-width: 600px;
  /* margin: auto; */
}
